.card {
    width: 20%;
    aspect-ratio: 3/4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 1rem;

    .image {
        width: 100%;
        height: 60%;
        border-radius: 1rem 1rem 0 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;

        }
    }

    h3 {
        height: 2.5rem;
        background-color: rgb(236, 214, 214);
        text-align: center;
        align-content: center;
    }
}

.price {
    padding: 0.5rem 1rem;
    display :flex;
    flex-direction: row;
    justify-content: end;
    align-items: baseline;
    gap : 1rem;
}

.desc {
    padding: 0.5rem 1rem;
}

.strike {
    text-decoration: line-through;
    color : grey;
}

.price-promo {
    font-size: 1.25rem;
    color : tomato;
}