.logo {
    border-radius: 0.5rem;
    border : 3px solid #D7075A;
    text-transform: uppercase;
    line-height: 1rem;
    
    width: fit-content;
    aspect-ratio: 1/1;
    align-content: center;
    padding: 0rem 0.1rem;
    
    
    h2 {
        
        margin-bottom: 0.25rem;
        display: flex;
        flex-direction: column;

        >span{
            font-family: 'Orbitron';
            font-size: 1rem;
            &:first-of-type{
                letter-spacing: 0.25rem;

            }
            &:last-of-type{
                letter-spacing: 0.05rem;

            }

        }
        .number {
            font-family: 'Orbitron';
            color : #D7075A;
        }

    }
   
}

.dots {
    display: flex;
    flex-direction: row;
    gap : 0.1rem;
    span {
        
        width: 0.35rem;
        height: 0.35rem;
        aspect-ratio: 1/1;
        border-radius: 0.1rem;

        &:nth-of-type(1) {
            background-color: #F6C0D5;
        }

        &:nth-of-type(2) {
            background-color: #F5C1D3;
        }

        &:nth-of-type(3) {
            background-color: #F18AB0;
        }

        &:nth-of-type(4) {
            background-color: #EF8CB0;
        }

        &:nth-of-type(5) {
            background-color: #E84486;
        }

        &:nth-of-type(6) {
            background-color: #E64585;
        }

        &:nth-of-type(7) {
            background-color: #E0035B;
        }

        &:nth-of-type(8) {
            background-color: #DD045A;
        }


    }
}

.slogan {
    h2 {
        line-height: 1.5rem;
    }
    h3  {
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: normal;
    }
}

.product {
    .productImg {
        aspect-ratio: 1/1;
        height: 3.75rem;
        border-radius: 0.5rem;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }  
    }

    >p:first-of-type {
        width: 10rem;
    }

    button {
        height: fit-content;
        padding: 0.25rem 0.5rem;
    }
}