* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

#root {
    width: 85%;
    margin: auto;
    padding: 1rem 0;
}

.grey-text {
    color : rgb(105, 125, 154);
    font-weight: lighter;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.justify-end {
    justify-content: end;
}

.items-center {
    align-items: center;
}

.gap-2 {
    gap : 2rem;
}
.gap-3 {
    gap : 3rem;
}

.gap-1 {
    gap : 1rem;
}

.height {
    height: 2rem;
}

